:root {
	--button-padding-x: 1em;
	--button-padding-y: 0.5em;
}

.link,
.link--muted {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: 4px;

	&:is(:hover, :focus) {
		text-decoration: none;
	}
}

.link {
	color: var(--text-brand);

	&:is(:hover, :focus) {
		color: var(--color-purple-900);
	}

	&:where(.dark, .dark *) {
		color: var(--color-purple-300);

		&:is(:hover, :focus) {
			color: var(--color-purple-200);
		}
	}
}

.link--muted {
	color: var(--color-grey-500);

	&:is(:hover, :focus) {
		color: var(--color-grey-700);
	}

	&:where(.dark, .dark *) {
		color: rgb(255 255 255 / 60%);

		&:is(:hover, :focus) {
			color: rgb(255 255 255 / 90%);
		}
	}
}

.button-padding-x {
	padding-inline: var(--button-padding-x);
}

.button-padding-y {
	padding-block: var(--button-padding-y);
}

:is(.button, .button--primary, .button--muted, .button--toggle, .button--ghost, .button--danger) {
	border-radius: var(--radius-md);
	padding-block: var(--button-padding-y);
	padding-inline: var(--button-padding-x);

	&:has([data-part="label"].sr-only) svg {
		min-block-size: 1lh;
	}
}

:is(.button--primary, .button--muted, .button--toggle, .button--ghost, .button--danger) {
	background-color: var(--background-colour);
	color: var(--colour, currentColor);
}

:is(.button--primary, .button--danger) {
	--colour: white;

	font-weight: 500;
	outline: 0;

	&:focus-visible {
		outline: 2px solid var(--outline-colour);
	}
}

:is(.button--muted, .button--toggle, .button--ghost) {
	border: 1px solid var(--border-colour);
	text-decoration: none;
}

:is(.button--muted, .button--ghost),
.button--toggle:not([aria-pressed="true"]) {
	--background-colour: white;
	--colour: currentColor;
	--border-colour: var(--border-strong);

	&:is(:hover, :focus) {
		--background-colour: var(--color-grey-50);
		--colour: var(--color-grey-700);
		--border-colour: var(--color-grey-400);
	}

	&:active {
		--background-colour: var(--color-grey-100);
		--colour: var(--color-grey-800);
		--border-colour: var(--color-grey-500);
	}
}

:is(.button--muted, .button--ghost):where(.dark, .dark *),
.button--toggle:where(.dark, .dark *):not([aria-pressed="true"]) {
	--background-colour: rgb(255 255 255 / 20%);
	--colour: currentColor;
	--border-colour: rgb(255 255 255 / 20%);

	&:is(:hover, :focus) {
		--background-colour: rgb(255 255 255 / 30%);
		--colour: var(--color-grey-100);
	}

	&:active {
		--background-colour: rgb(255 255 255 / 40%);
		--colour: var(--color-grey-50);
		--border-colour: transparent;
	}
}

.button--primary {
	--background-colour: var(--text-brand);
	--outline-colour: var(--text-brand);

	&:is(:hover, :focus) {
		--background-colour: var(--color-purple-900);
	}

	&:focus-visible {
		box-shadow: none;
		outline-offset: 2px;
	}

	&:active {
		--background-colour: var(--color-purple-950);
	}

	&:where(.dark, .dark *) {
		--background-colour: var(--color-purple-500);

		&:is(:hover, :focus) {
			--background-colour: var(--color-purple-600);
			--outline-colour: var(--color-purple-600);
		}

		&:active {
			--background-colour: var(--color-purple-700);
		}
	}
}

.button--toggle[aria-pressed="true"] {
	--background-colour: var(--color-purple-50);
	--colour: var(--color-purple-600);
	--border-colour: var(--color-purple-400);

	&:is(:hover, :focus) {
		--background-colour: var(--color-purple-100);
		--colour: var(--color-purple-700);
		--border-colour: var(--color-purple-500);
	}

	&:active {
		--background-colour: var(--color-purple-200);
		--colour: var(--text-brand);
		--border-colour: var(--color-purple-600);
	}
}

.button--toggle:where(.dark, .dark *)[aria-pressed="true"] {
	--background-colour: rgb(from var(--color-purple-400) r g b / 10%);
	--colour: var(--color-purple-300);
	--border-colour: var(--color-purple-400);

	&:is(:hover, :focus) {
		--background-colour: rgb(from var(--color-purple-400) r g b / 20%);
		--colour: var(--color-purple-200);
		--border-colour: var(--color-purple-300);
	}

	&:active {
		--background-colour: rgb(from var(--color-purple-400) r g b / 30%);
		--colour: var(--color-purple-100);
		--border-colour: var(--color-purple-200);
	}
}

.button--ghost {
	--background-colour: transparent;
	--border-colour: transparent;

	&:where(.dark, .dark *) {
		--background-colour: transparent;
		--border-colour: transparent;
	}
}

.button--danger {
	--background-colour: var(--color-red-700);
	--outline-colour: var(--color-red-800);

	&:is(:hover, :focus) {
		--background-colour: var(--color-red-800);
	}

	&:focus-visible {
		outline-offset: 4px;
	}

	&:active {
		--background-colour: var(--color-red-900);
	}
}
