.link {
	color: var(--color-purple-800);
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: 4px;

	&:is(:hover, :focus) {
		color: var(--color-purple-900);
		text-decoration: none;
	}

	&:where(.dark, .dark *) {
		color: var(--color-purple-300);

		&:is(:hover, :focus) {
			color: var(--color-purple-200);
		}
	}
}

.link--muted {
	color: var(--color-grey-500);
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: 4px;

	&:is(:hover, :focus) {
		color: var(--color-grey-700);
		text-decoration: none;
	}

	&:where(.dark, .dark *) {
		color: rgb(255 255 255 / 60%);

		&:is(:hover, :focus) {
			color: rgb(255 255 255 / 90%);
		}
	}
}

.button-padding-x {
	padding-inline: 1em;
}

.button-padding-y {
	padding-block: 0.5em;
}

.button {
	border-radius: var(--radius-md);
	padding-block: 0.5em;
	padding-inline: 1em;
}

.button--primary {
	background-color: var(--color-purple-800);
	border-radius: var(--radius-md);
	color: white;
	font-weight: 600;
	padding-block: 0.5em;
	padding-inline: 1em;

	&:has([data-test="ui-button-label"].sr-only) {
		padding-block: 0.75em;
		padding-inline: 0.75em;
	}

	&:is(:hover, :focus) {
		background-color: var(--color-purple-900);
	}

	&:active {
		background-color: var(--color-purple-950);
	}

	&:where(.dark, .dark *) {
		background-color: var(--color-purple-500);

		&:is(:hover, :focus) {
			background-color: var(--color-purple-600);
		}

		&:active {
			background-color: var(--color-purple-700);
		}
	}
}

.button--muted {
	background-color: white;
	border: 1px solid var(--color-grey-300);
	border-radius: var(--radius-md);
	color: currentColor;
	padding-block: 0.5em;
	padding-inline: 1em;
	text-decoration: none;

	&:has([data-test="ui-button-label"].sr-only) {
		padding-block: 0.75em;
		padding-inline: 0.75em;
	}

	&:is(:hover, :focus) {
		background-color: var(--color-grey-50);
		border-color: var(--color-grey-400);
		color: var(--color-grey-700);
	}

	&:active {
		background-color: var(--color-grey-100);
		border-color: var(--color-grey-500);
		color: var(--color-grey-800);
	}

	&:where(.dark, .dark *) {
		background-color: rgb(255 255 255 / 20%);
		border-color: rgb(255 255 255 / 20%);

		&:is(:hover, :focus) {
			background-color: rgb(255 255 255 / 30%);
			border-color: rgb(255 255 255 / 20%);
			color: var(--color-grey-100);
		}

		&:active {
			background-color: rgb(255 255 255 / 40%);
			border-color: transparent;
			color: var(--color-grey-50);
		}
	}
}

.button--danger {
	background-color: var(--color-red-700);
	border-radius: var(--radius-md);
	color: white;
	font-weight: 600;
	padding-block: 0.5em;
	padding-inline: 1em;

	&:has([data-test="ui-button-label"].sr-only) {
		padding-block: 0.75em;
		padding-inline: 0.75em;
	}

	&:is(:hover, :focus) {
		background-color: var(--color-red-800);
	}

	&:active {
		background-color: var(--color-red-900);
	}
}
