@import "./main.css";

@plugin "@tailwindcss/typography";

.docs-component-tab > table {
	width: 100%;
	margin-block: 2rem;
	font-size: 0.875rem;
	line-height: 1.5rem;

	thead {
		border-bottom: 1px solid var(--border-strong);
	}

	th {
		padding: 0 0.5rem 0.5rem;
		color: var(--content-strong);
		font-weight: 600;
		text-align: start;
	}

	td {
		padding: 0.5rem;
		border-bottom: 1px solid var(--border);
		text-align: start;
	}
}
