@import "./main.css";

@plugin "@tailwindcss/typography";

:where(code:not(pre code)) {
	color: var(--content-strong);
	font-size: 0.875em;
	font-weight: 600;

	&::before,
	&::after {
		content: "`";
	}
}

.docs-page-introduction,
.docs-component-tab > :where(p, ul, ol, blockquote) {
	max-width: 65ch;
}

.docs-page-introduction {
	ul {
		display: flex;
		flex-direction: column;
		gap: calc(var(--spacing) * 2);
		list-style: disc;
		margin-inline-start: calc(var(--spacing) * 6);
	}
}

.docs-component-tab,
.docs-page-introduction {
	& > table {
		width: 100%;
		margin-block: 2rem;
		font-size: 0.875rem;
		line-height: 1.5rem;

		thead {
			border-bottom: 1px solid var(--border-strong);
		}

		th {
			padding: 0 0.5rem 0.5rem;
			color: var(--content-strong);
			font-weight: 600;
			text-align: start;
		}

		td {
			padding: 0.5rem;
			border-bottom: 1px solid var(--border);
			text-align: start;
		}
	}
}
